@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.login-logo, .form-container {
  margin: 0 auto;
  max-width: 25em;
  transition: all .5s ease-in-out;
}

.off-canvas {
  -webkit-transform: translateZ(0) translate(0, -400px) rotateY(-360deg);
          transform: translateZ(0) translate(0, -400px) rotateY(-360deg);
  height: 0;
}

.login-logo {
  padding: 1em;
}
.login-logo img {
  width: 100%;
  height: auto;
}

.form-container {
  background: white;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0px 0px 1em #ddd;
}
.form-container h2 {
  margin-top: 0;
  color: #008CBA;
}
.form-container .error {
  color: red;
  margin: .5em 0;
}
.form-container label span {
  color: #d9534f;
}
.form-container button {
  background: #008CBA;
}
.form-container button:hover {
  background: #0079a1;
}

html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  background: #eee;
  margin: 1em;
  font-family: 'Open Sans', sans-serif;
}
